{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <ul class="navbar-nav ">
            <!--icono para editarr -->
            <li class="nav-item ">
                <a href="{% url 'home' %}" class="nav-link">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <br>
        </ul>
        <a href="/proyectoDW/principal/" class="navbar-brand">
            <img src="{% static 'lib/adminlte-3.1.0/img/user8-128x128.jpg' %}" alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-bold">Multiservicios LUAS</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav  navbar-no-expand ml-auto">
                <li class="nav-item dropdown ">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle">Menú</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="/proyectoDW/principal/" class="dropdown-item">Principal </a></li>
                        <li><a href="/proyectoDW/category/list/" class="dropdown-item">Categorias </a></li>
                        <li><a href="/proyectoDW/clientes/list/" class="dropdown-item">Clientes</a></li>
                        <li><a href="/proyectoDW/ventas/list/" class="dropdown-item">Ventas</a></li>
                        <li><a href="/proyectoDW/productos/list/" class="dropdown-item">Productos</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!--icono para editarr -->
                <li class="nav-item ">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users-cog"></i> {{ request.user.username }}
                    </a>
                </li>
                <!--icono para salir -->
                <li class="nav-item ">
                    <a href="{% url 'logout' %}" class="nav-link">
                        Salir <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
